#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "def";
            bindings = <
&kp TAB         &kp Q        &kp W           &kp F           &kp P             &kp B                   &kp J    &kp L              &kp U            &kp Y            &kp SEMICOLON  &kp BACKSPACE
&kp LEFT_GUI    &mt LCTRL A  &mt LEFT_ALT R  &mt LEFT_GUI S  &mt LEFT_SHIFT T  &kp G                   &kp M    &mt RIGHT_SHIFT N  &mt RIGHT_GUI E  &mt RIGHT_ALT I  &mt RCTRL O    &kp SQT
&kp LEFT_SHIFT  &kp Z        &kp X           &kp C           &kp D             &kp V                   &kp K    &kp H              &kp COMMA        &kp PERIOD       &kp SLASH      &kp RIGHT_SHIFT
&kp ESCAPE      &kp DELETE   &kp BACKSPACE   &kp SPACE       &mo 0                        &lt 3 ENTER  &kp TAB                                                                      &mo 4
            >;
        };

        windows_layer {
            bindings = <
&trans     &trans          &trans  &trans       &trans  &trans              &trans  &trans  &trans       &trans  &trans           &trans
&kp LCTRL  &mt LEFT_GUI A  &trans  &mt LCTRL S  &trans  &trans              &trans  &trans  &mt RCTRL E  &trans  &mt RIGHT_GUI O  &trans
&trans     &trans          &trans  &trans       &trans  &trans              &trans  &trans  &trans       &trans  &trans           &trans
&trans     &trans          &trans  &trans       &trans              &trans  &trans                                                &trans
            >;

            label = "win";
        };

        qwerty_layer {
            label = "QWRT";
            bindings = <
&trans     &kp Q   &kp W   &kp E   &kp R   &kp T              &kp Y   &kp U  &kp I      &kp O    &kp P      &trans
&kp LCTRL  &kp A   &kp S   &kp D   &kp F   &kp G              &kp H   &kp J  &kp K      &kp L    &kp SEMI   &trans
&trans     &kp Z   &kp X   &kp C   &kp V   &kp B              &kp N   &kp M  &kp COMMA  &kp DOT  &kp SLASH  &trans
&trans     &trans  &trans  &trans  &trans             &trans  &trans                                        &trans
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&none   &kp F1  &kp F2   &kp F3   &kp F4   &none              &kp MINUS   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none  &none
&none   &kp F5  &kp F6   &kp F7   &kp F8   &none              &kp PERIOD  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none  &none
&none   &kp F9  &kp F10  &kp F11  &kp F12  &none              &kp N0      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &none
&trans  &trans  &trans   &trans   &trans              &trans  &trans                                                       &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&none   &kp GRAVE        &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp SQT                    &kp AMPERSAND  &kp DOLLAR      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PERCENT   &none
&none   &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL          &kp HASH                   &kp PIPE       &kp COLON       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION  &none
&none   &kp CARET        &kp SLASH      &kp ASTERISK      &kp PERIOD         &kp BACKSLASH              &kp TILDE      &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AT_SIGN   &none
&trans  &trans           &trans         &trans            &trans                                &trans  &trans                                                                                    &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&bt BT_NXT  &none   &none     &kp UP_ARROW  &none      &none              &none   &none      &none      &none      &none  &tog 2
&none       &none   &kp LEFT  &kp DOWN      &kp RIGHT  &none              &none   &mkp LCLK  &mkp RCLK  &mkp MCLK  &none  &tog 1
&none       &none   &none     &none         &none      &none              &none   &none      &none      &none      &none  &none
&trans      &trans  &trans    &trans        &trans                &trans  &trans                                          &trans
            >;
        };
    };
};
